---
import Layout from '@layouts/Layout.astro'

import OnerwayForm from '@components/payments/OnerwayForm.tsx'
---

<Layout title='Pay by Onerway'>
	<main class='relative overflow-hidden min-h-screen flex flex-col'>
		<!-- <Header /> -->
		<section class='w-full mx-auto bg-[#f2f4f8]'>
			<OnerwayForm client:only='react' />
		</section>
		<!-- <Footer /> -->
	</main>
</Layout>
